'fileTypes': [
  'md'
]
'scopeName': 'source.gfm.markdown-todo'
'patterns': [
  {
    'match': '[*-]\\s*(TODO|DOING|DONE)'
    'captures': '1': 'name': 'markdown-todo.${1:/downcase}'
  }
  {
    'include': 'source.gfm'
  }
]
